@use "../../tokens" as *;

@mixin font-body-1() {
  font-size: $font-size-md;
  line-height: $font-height-xl;
}

@mixin font-body-2() {
  font-size: $font-size-sm;
  line-height: $font-height-xl;
}

@mixin font-body-legend() {
  font-size: $font-size-xs;
  line-height: $font-height-lg;
}

@mixin font-body-tiny() {
  font-size: $font-size-xxs;
  line-height: $font-height-md;
}
